.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.search-form{
  min-height: 20vh;
  display:flex;
  justify-content: center;
  align-items:center;

}

.search-bar{
  width: 80%;
  border:none;
  padding:10px;

}
.search-button{
background:cornflowerblue ;
border: none;
padding:10px 20px ;
color:white;



}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.welcome{
  border-radius: 10px;
    box-shadow:0px 5px 20px rgb(71, 71,71);
    margin:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background:white ;
    align-items: center;
    min-width: 40Px;
}